{% extends 'layouts/base.jinja2' %}
{% block title %}User{% endblock %}
{% block body %}
    <div class="col-md-8 main-content">
        <!-- Cabinet Content Column -->
    </div>
    {% include 'layouts/sidebar.jinja2' %}
{% endblock %}
